.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.title {
  font-size: 22px;
  font-weight: bold;
  color: var(--very-dark-blue);
  margin-top: 33px;
}

.content {
  font-size: 15px;
  line-height: 26px;
  color: var(--grayish-violet);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 41px;
}

.imgContainer {
  margin-top: -44px;
  background-color: var(--dark-violet);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .main {
    padding: 0 32px;
    width: 50%;
  }
  .imgContainer {
    transform: translateX(-90%);
  }
}
